<!-- <div class="header_bar">
  <div class="white_logo">
    <img src="/assets/images/mobile/LOGO.png" />
  </div>
  <div class="current_state">歷史資料</div>
  <div class="user_information">
    <span class="user_icon"
      ><img src="/assets/images/mobile/userhead.png" width="100%"
    /></span>
  </div>
</div> -->

<!-- app-history-item -->
<!-- <ng-container>

<div class="header_bar">
  <div class="white_logo">
    <img src="assets/images/mobile/back.png" />
  </div>
  <div class="current_state">108.04.18 北投-深坑</div>
  <div class="user_information">
    <a href="/">回報紀錄</a>
  </div>
</div>

</ng-container> -->

<!-- app-notification -->
<!-- <ng-container>
  <div class="header_bar">
    <div class="white_logo">
      <img src="/assets/images/mobile/back.png" />
    </div>
    <div class="current_state">北投-深坑</div>
    <div class="user_information">
      <a href="/">回報</a>
    </div>
  </div>
</ng-container> -->

<!-- app-notion -->
<!-- <ng-container>
  <div class="header_bar">
    <div class="white_logo">
      <img src="/assets/images/mobile/LOGO.png" />
    </div>
    <div class="current_state">通知</div>
    <div class="user_information">
      <span class="user_icon"
        ><img src="/assets/images/mobile/userhead.png" width="100%"
      /></span>
    </div>
  </div>
</ng-container> -->

<!-- app-report -->
<ng-container>
  <div class="header_bar">
    <div class="white_logo">
      <img src="/assets/images/mobile/back.png" />
    </div>
    <div class="current_state">回報</div>
    <div class="user_information">
      <i class="fa fa-location-arrow fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</ng-container>
