<div class="container">
  <div class="step_box" style="padding-bottom: 1px;">
    <div class="stepBar">
      <p class="stepIcon">1</p>
      <span class="stepTittle">匯入線路參數</span>
    </div>

    <div class="stepFormBox" style="align-items: center; padding: 1rem 0;">
      <div style="margin-right: 3rem;">
        <span
          class="little_title"
          style="margin-left: 3rem; margin-right: 1rem; text-align: center; height: fit-content;"
        >
          選擇匯入項目
        </span>
        <select
          class="Vendor"
          name="selectLine"
          style="width: fit-content; padding-right: 20px;"
          [(ngModel)]="select"
          [disabled]="isCalc"
        >
          <option value="" disabled>項目</option>
          <option *ngFor="let item of lineList" [ngValue]="item.type">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div style="display: flex; align-items: center;">
        <span
          class="little_title"
          style="margin-right: 1rem; text-align: center; height: fit-content;"
        >
          選擇匯入檔案
        </span>
        <form [formGroup]="uploadForm" class="uploadData">
          <span
            class="file-name"
            [ngClass]="{
              'sucess-file': file.isUpload == 'success',
              'error-file': file.isUpload == 'error',
              'loading-file': file.isUpload == 'loading',
              'disabled': isCalc
            }"
          >
            {{file.name? file.name: '選擇 ' + file.type + ' 檔案'}}
          </span>
          <label [ngClass]="{'disabled': isCalc}">
            <input
              type="file"
              class="file-upload"
              name="file"
              [accept]="file.type"
              (change)="onSubmit($event);"
              [disabled]="isCalc"
            />
            <input type="hidden" name="description" [disabled]="isCalc" />
          </label>
        </form>
      </div>

      <button class="research" style="margin-left: 1rem;" (click)="postData()" [disabled]="isCalc">
        上傳
      </button>
    </div>
  </div>
</div>
