
<div style="height: 50px;"></div>
<div class="navigation">
  <div class="camera" *ngIf="nowRoute == 'report'"><i class="fas fa-camera-retro fa-2x"></i></div>

  <a [routerLink]="['/mobile/notion']">
    <i class="far fa-bell twenty-six reminder" [ngClass]="{'here': nowRoute == 'notion' || nowRoute == 'notification'}" aria-hidden="true"></i>
  </a>
  <!-- class "here" is active, "reminder" is something new -->
  <a [routerLink]="['/mobile/history']">
    <i class="far fa-clock twenty-eight" [ngClass]="{'here': nowRoute == 'history' || nowRoute == 'history-item'}" aria-hidden="true"></i>
  </a>

</div>
