<div class="header">
  <div class="header_bar">
    <div class="white_logo"><img src="assets/images/logo-white.png" /></div>
    <div class="current_state">供電線路智慧故障定位系統</div>
    <div class="user_information">
      <span class="user_icon"
        ><img src="assets/images/userhead.png" width="100%"
      /></span>
      <p class="user_name">taiwanpower</p>
      <button class="sign_out">登出</button>
    </div>
  </div>
  <div class="container">
    <ul>
      <li>
        <a [routerLink]="[ '/fault/upload' ]" [ngClass]="{'active': url === '/fault/upload'}">
          <div class="speed-hover">上傳檔案</div>
        </a>
      </li>
      <!-- <li>
        <a [routerLink]="[ '/wire/argument' ]" class="">
          <div class="speed-hover">查看線路</div>
        </a>
      </li> -->
      <li>
        <a [routerLink]="[ '/fault/result' ]"  [ngClass]="{'active': url === '/fault/result'}">
          <div class="speed-hover">歷史資料</div>
        </a>
      </li>
    </ul>
  </div>
</div>
