<div class="container">
  <div class="step_box">
    <div class="stepBar">
      <p class="stepIcon">1</p>
      <span class="stepTittle">上傳檔案</span>
    </div>

    <form enctype="multipart/form-data" action="">
      <div class="stepFormBox">
        <span class="little_title">選擇端點數目</span>
        <div class="dortNumer" style="align-items: center;">
          <div class="dortNumer_box" style="align-items: center;">
            <span class="dortText" [ngClass]="{'disabled': isCalc}">2端</span>
            <div class="switch" style="height: 26px;">
              <input
                id="switch-1"
                type="checkbox"
                class="switch-input"
                name="terminal"
                [(ngModel)]="isTTypeTerminal"
                [disabled]="isCalc"
              />
              <label for="switch-1" class="switch-label">Switch</label>
            </div>
            <span class="dortText" [ngClass]="{'disabled': isCalc}">3端</span>
          </div>
          <button class="research" (click)="doGetLineByTerminal()" [disabled]="isCalc">搜尋</button>

          <div *ngIf="lineList.length > 0">
            <span
              class="little_title"
              style="margin-left: 3rem; margin-right: 1rem; text-align: center; height: fit-content;"
              >選擇電驛站</span
            >
            <select
              class="Vendor"
              name="selectLine"
              style="width: fit-content; padding-right: 20px;"
              [(ngModel)]="selectLine"
              (change)="doGetLineInfo(selectLine)"
              [disabled]="isCalc"
            >
              <option value="" disabled>選擇電驛站</option>
              <option *ngFor="let item of lineList" [ngValue]="item"
                >{{ item }}</option
              >
            </select>
          </div>
        </div>
      </div>
    </form>

    <ng-container *ngIf="subList.length > 0">
      <div class="stepFormBox">
        <div class="little_bar">
          <span class="little_title">選擇廠商</span>
          <span class="little_title">上傳檔案</span>
        </div>
        <ul class="upload_informationBox">
          <ng-container
            *ngFor="let sub of subList; let subId = index; let start = first; let last = last"
          >
            <li class="upload_information">
              <p class="name" [ngClass]="{'disabled': isCalc}">{{ sub.name }}</p>
              <select
                class="Vendor"
                name="brand"
                [(ngModel)]="selectBrand"
                (change)="doSetSubData(selectBrand)"
                [disabled]="isCalc"
              >
                <option value="" disabled>選擇廠家</option>
                <option *ngFor="let brand of brandList" [ngValue]="brand"
                  >{{ brand.name }}</option
                >
              </select>

              <ng-container *ngFor="let file of sub.file; let fileId = index">
                <form [formGroup]="uploadForm" class="uploadData">
                  <span
                    class="file-name"
                    [ngClass]="{
                    'sucess-file': file.isUpload == 'success',
                    'error-file': file.isUpload == 'error',
                    'loading-file': file.isUpload == 'loading',
                    'disabled': isCalc
                    }"
                  >
                    {{file.name? file.name: '選擇 ' + file.type + ' 檔案'}}
                  </span>
                  <label [ngClass]="{'disabled': isCalc}">
                    <input
                      type="file"
                      class="file-upload"
                      name="file"
                      [accept]="file.type"
                      (change)="onSubmit($event, subId, fileId);"
                      [disabled]="isCalc"
                    />
                    <input type="hidden" name="description" [disabled]="isCalc"/>
                  </label>
                  <!-- <input type="submit" value="Go" /> -->
                </form>
              </ng-container>
            </li>
            <div *ngIf="!last" class="line"></div>
          </ng-container>
        </ul>
      </div>
      <div class="calculationBox">
        <button class="calculation" (click)="isCalc = !isCalc; doPostCalc()" [disabled]="isCalc || !checkCanCalc()">
          計算
        </button>
      </div>
    </ng-container>
  </div>

  <div class="step_box" [ngStyle]="{
    'height': result.ref_sub !== ''? 'fit-content': '0',
    'visibility': result.ref_sub !== ''? 'visible': 'hidden'
    }">
    <div class="stepBar">
      <p class="stepIcon">2</p>
      <span class="stepTittle">確認並推播</span>
    </div>
    <div class="mapBox">
      <div class="map">
        <div class="idMap" id="mapid"></div>
      </div>
      <div class="map_information stepFormBox">
        <div class="little_bar">
          <p>故障資訊</p>
        </div>
        <ul class="malfunction">
          <li class="malfunction_information">
            <p class="tittle">發生時間</p>
            <p class="context">{{ result.faulttime }}</p>
          </li>
          <div class="line"></div>
          <li class="malfunction_information">
            <p class="tittle">故障線路</p>
            <div class="distance">
              <p class="context">{{ selectLine }}</p>
            </div>
          </li>
          <div class="line"></div>
          <li class="malfunction_information">
            <p class="tittle">故障座標</p>
            <p class="context">
              經度：{{ result.est_long }},<br>
              緯度：{{ result.est_lati }}
            </p>
          </li>
          <div class="line"></div>
          <li class="malfunction_information">
            <p class="tittle">故障位置</p>
            <p class="context">距{{ result.ref_sub }} {{ result.dis_to_sub }} 公里處</p>
          </li>
          <div class="line"></div>
          <li class="malfunction_information">
            <p class="tittle">電塔距離</p>
            <p class="context">從{{ result.ref_sub }}變電所，第 {{ result.towerN }} 與 {{ result.towerN_2 }} 電塔之間</p>
          </li>
        </ul>
      </div>
    </div>
    <button class="push" (click)="doSubmitEvent()">送出</button>
  </div>
</div>
