

<div class="history-container">
  <div class="collapse">
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
    <div class="historyBox">
      <a href="historyNotification.html">
        <div class="togglefaq">
          <p class="date">2019.04.18</p>
          <p class="location">北投-深坑</p>
        </div>
      </a>
    </div>
  </div>
</div>
