

<div class="history-container">
  <div class="collapse">

    <div class="historyBox" *ngFor="let item of eventList">
      <a (click)="routeToItem(item)">
        <div class="togglefaq" style="position: relative;">
          <div style="position: absolute; left: 10px; top: 22px; line-height: 0;" *ngIf="item.report.length == 0">
            <i class="fas fa-circle fa-xs" style="color: red"></i>
          </div>
          <p class="date" style="margin: 0 10px;">{{ item.create_date }}</p>
          <p class="location">{{ item.linename }}</p>
          <p class="date" style="margin-left: auto;" [ngClass]="{'error': item.report.length == 0}">
            {{ item.report.length == 0? '未回報': '已回報' }}
          </p>
        </div>
      </a>
    </div>

  </div>
</div>
