<div class="mapBox" *ngFor="let result of resultList">
  <div class="map">
    <div class="idMap" id="mapid"></div>
  </div>
  <div class="detail">
    <p>發生時間<span>{{ eventDate }}</span></p>
    <p>故障線路<span>{{ eventLine }}</span></p>
    <p>故障座標<span>
      經度：{{ result.est_long }},<br>
      緯度：{{ result.est_lati }}
    </span></p>
    <p>故障位置<span>距{{ result.ref_sub }} {{ result.ref_length }} 公里處</span></p>
    <p>電塔距離<span>從{{ result.ref_sub }}變電所，第 {{ result.towerN }} 與 {{ result.towerN_2 }} 電塔之間</span></p>
  </div>
</div>
